
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
.grid
{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    /*border: solid 2px;*/
    background-color: white;
}

.row
{
    width: 100%;
    margin-bottom: 10px;
    display:flex;
    flex-flow: wrap;
}

.col1
{
    width: 8.33%;
   
}

.col2
{
    width: 16.66%;
}

.col3
{
    width: 25%;
}

.col4
{
    width: 33.33%;
}

.col5
{
    width: 41.66%;
}

.col6
{
    width: 50%;
}

.col7
{
    width: 58.33%;
}

.col8
{
    width: 66.66%;
}

.col9
{
    width: 75%;
}

.col10
{
    width: 83.33%;
}

.col11
{
    width: 91.66%;
}

.col12
{
    width: 100%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{  margin: 1% 0 1% 0%; }
    
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	width: 100%; 
	}
}

header
{
    border: 2px solid black;
    padding: 1em;
    color: white;
    background-color: red;
    clear: left;
    text-align: center;
}


p
{
    font-family: sans-serif;
    text-indent: 15px;
    font-size: 15px;
    /*color: white;*/
}

.right
{
    text-align: right;
}

.center
{
    text-align: center;
}
/*Column*/
*{
    border-radius: 10px;
}
#borderline{
    border: 1.5px solid #999999;
}
body {
    background-color: ghostwhite;
      overflow-x: hidden;
      font-family: "Arial Narrow", Arial, sans-serif;
    background-size: cover;
  background-position: 50%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }
h1{
   
    font-family: "Arial Narrow", Arial, sans-serif;
    background-color: #67BCDB
    
    
}
p{
  background-color: #67BCDB ;

}
ol{    
    background-color:#67BCDB;
}

text { font-family: "Arial Narrow", Arial, sans-serif;; }

#heading{
    background-color:#67BCDB;
}
#menu-toggle{
    background-color:#67BCDB;
}
a{
   background-color:#67BCDB;
}
button {
    background-color: #036;; /*bluedark */
    border: none;
    color: #B0C4DE;
    padding: 5px 8px 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    
}
button1 {
    background-color: #036;; /*bluedark */
    border: none;
    color: #B0C4DE;
    padding: 5px 8px 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}
/* 
    This will cover all element for form layout to not be so basic
    
*/
form label { 
    margin-left: 10px; 
    color: #999999; 
    } 
li{
    font-family: "Arial Narrow", Arial, sans-serif;
    list-style-type: none;
}


textarea { 
    width: 300px; 
    max-width: 300px; 
    height: 90px; 
    line-height: 90%; 
    } 
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    } 
submit input { 
    width: auto; 
    padding: 9px 15px; 
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    }
.form-style-3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 200px;
    color: #87CEEB;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #87CEEB;
    padding: 20px;
    background: #0000;
    box-shadow: inset 0px 0px 15px #B0C4DE;
    -moz-box-shadow: inset 0px 0px 15px #B0C4DE;
    -webkit-box-shadow: inset 0px 0px 15px #B0C4DE;
}
.form-style-3 fieldset legend{
    color: dimgray;
    max-width: 200px;
    border-top: px solid #B0C4DE;
    border-left: 1px solid #B0C4DE;
    border-right: 1px solid #B0C4DE;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #f9fffe;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}
.form-style-3 textarea{
    width:250px;
    height:100px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea{
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border: 1px solid #B0C4DE;
    outline: none;
    color: #B0C4DE;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #B0C4DE;
    -moz-box-shadow: inset 1px 1px 4px #B0C4DE;
    -webkit-box-shadow: inset 1px 1px 4px#B0C4DE;
    background: #0000;
    height: 2%;
    max-width: 30%;
    /*width:1%;*/
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #036;
    border: 1px solid #3a6c99;
    padding: 5px 15px 5px 15px;
    color: #B0C4DE;
    box-shadow: inset -1px -1px 3px #B0C4DE;
    -moz-box-shadow: inset -1px -1px 3px #B0C4DE;
    -webkit-box-shadow: inset -1px -1px 3px #B0C4DE;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;   
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}
.disabled{
    opacity: 0.6;
    cursor: not-allowed;
    color:rebeccapurple;
    font-weight: normal;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #036;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
